:root {
    font-size: 16px;
}

body,h1,h2,h3,h3,h5 {
	font-family: "Roboto", Times, serif;
}

.huge_title{
    font-family: "Shrikhand", Times, serif;
}

.logo_footer{
    font-family: "Shrikhand", Times, serif;
    color: $color-white;
    font-weight: 400;
}

main{
    position: relative;
}
