header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
        height: 30px;
    }

    .fas {
        position: absolute;
        left: 30px;
        top: 25px;
        transform: scale(1.5, 1.5);
        color: $color-black;
    }

    a {
        color: black;

        &:visited {
            color: black;
        }
    }
}
