$color-shadow: rgb(206, 206, 206);
$color-light_grey: #F6F6F6;
$color-hard_grey:#555555;
$color-white:#fff;
$color-black:rgb(0, 0, 0);
$color-footer:rgb(56, 56, 56);
$color-primary:#9356DC;
$color-secondary:#FF79DA; 
$color-tertiary:#99E2D0; 