* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 15px;
}

h1 {
  font-family: "Shrikhand", Times, serif;
}

body, h2, h3, h3, h5 {
  font-family: "Roboto", Times, serif;
}

main {
  position: relative;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
}

@-webkit-keyframes spiner {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes spiner {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grad_button {
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(90%, #9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 90%, #FF79DA 100%);
  color: #fff;
  font-weight: 500;
  border: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

header img {
  height: 30px;
}

header .fas {
  position: absolute;
  left: 30px;
  top: 17px;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  color: black;
}

footer {
  background: #383838;
  color: #fff;
  padding: 30px;
}

footer li {
  padding: 5px;
}

footer img {
  width: 100px;
  -webkit-filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(100deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(100deg) brightness(107%) contrast(101%);
}

.localisation {
  width: 100%;
  height: 50px;
  background: #EAEAEA;
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exploration {
  background: #F6F6F6;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.operation {
  margin: 50px 20px 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background: #f8f8f8b2;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0.5rem 0.3rem #eee;
          box-shadow: 0 0 0.5rem 0.3rem #eee;
}

.box span {
  position: absolute;
  left: -10px;
  color: #fff;
  background: #9356DC;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}

.box i {
  margin-left: 40px;
  margin-right: 30px;
  color: #EAEAEA;
}

.thirdOp {
  background: #F5EDFF;
}

.thirdOp i {
  color: #9356DC;
}

.restaurant {
  background: #F6F6F6;
  padding: 70px 10px 50px 10px;
}

.restaurant h2 {
  margin-left: 20px;
}

.restaurant a:link {
  color: black;
}

.art_box {
  background: #fff;
  border-radius: 25px;
  margin: 20px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem 0.3rem #eee;
          box-shadow: 0 0 0.5rem 0.3rem #eee;
}

.art_box img {
  border-radius: 25px 25px 0 0;
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.new {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #99E2D0;
  width: 90px;
  font-weight: bold;
  font-size: 18px;
  color: #2ba196;
  text-align: center;
  border-radius: 3px;
}

.restaurant_content {
  padding: 20px;
  position: relative;
}

.restaurant_content i {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

a:visited {
  color: black;
}

.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #FF79DA;
  -webkit-animation: spiner 0.01s;
          animation: spiner 0.01s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background_image {
  height: 300px;
  z-index: 0;
}

.menu {
  margin-top: -80px;
  position: relative;
  z-index: 1;
  background: #F6F6F6;
  border-radius: 50px 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu h1 {
  margin-left: 20px;
  padding-top: 30px;
  margin-bottom: 50px;
  font-style: italic;
}

.menu a {
  position: absolute;
  right: 50px;
  top: 35px;
}

.menu .far {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  color: black;
}

.menu h3 {
  margin-left: 20px;
  position: relative;
  padding-bottom: 5px;
}

.menu h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
}

.menu button {
  max-width: 50%;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box_menu {
  position: relative;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  height: 75px;
  background: #fff;
  border-radius: 15px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 0.5rem 0.3rem #eee;
          box-shadow: 0 0 0.5rem 0.3rem #eee;
}

.box_menu span {
  font-weight: bold;
  position: absolute;
  top: 35px;
  right: 20px;
}

.startere {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-dish {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dessert {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*# sourceMappingURL=main.css.map */