* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

body a:link {
  text-decoration: none;
}

#home-page {
  max-width: 100%;
  margin: 0 50px 100px 50px;
}

@media screen and (max-width: 1024px) {
  #home-page {
    margin: 0;
  }
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin-right: 10px;
  border: 0.5px solid #c4c4c4;
  border-radius: 50px;
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  transition: all 0.8s;
  color: #901c1c;
  margin-bottom: 5px;
}

ul li a {
  color: #901c1c;
}

ul li a:hover {
  color: white;
}

ul li:hover {
  color: white;
  cursor: pointer;
  background-color: #901c1c;
}

ul .active {
  color: white;
  background-color: #901c1c;
}

/* Block: HEADER */
header {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 7.5%;
  flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
  header {
    margin: 10px;
  }
}

header #logo {
  display: flex;
  justify-content: center;
  margin-right: 75px;
}

@media screen and (max-width: 950px) {
  header #logo {
    margin: 0;
    justify-content: flex-start;
  }
}

header #logo img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 950px) {
  header #logo img {
    width: 160px;
  }
}

header nav {
  display: flex;
  justify-content: left;
  width: 1050px;
}

@media screen and (max-width: 950px) {
  header {
    justify-content: space-between;
  }
}

/* Page: Homepage */
#title-home {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 400;
  color: #901c1c;
  line-height: 45px;
  position: absolute;
  right: 200px;
  top: 10px;
}

@media screen and (max-width: 950px) {
  #title-home {
    right: 10px;
    font-size: 18px;
  }
}

main {
  width: 100%;
  height: 100%;
}

main #home_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

main #home_container section {
  flex-direction: column;
  width: 300px;
  height: auto;
  text-align: center;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  main #home_container section {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 768px) {
  main #home_container section {
    flex: 0 0 100%;
  }
}

main #home_container section img {
  display: inherit;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 3px rgba(50, 50, 0, 0.5));
}

main #home_container section img:hover {
  cursor: pointer;
}

main #home_container section h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #d3573c;
}

main #home_container section h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: #901c1c;
  margin-bottom: 15px;
}

main #home_container section p {
  font-size: 15px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 5px;
}

main #home_container section em {
  font-size: 17px;
  color: #757575;
}

#scrollup {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #db8876;
  color: black;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: none;
}

/* Page: Photographer */
#float-article {
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: #db8876;
  width: 400px;
  height: 75px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

@media screen and (max-width: 950px) {
  #float-article {
    display: none;
  }
}

#float-article #float-like {
  font-size: 24px;
  font-weight: 500;
}

#float-article #float-price {
  font-size: 24px;
  font-weight: 500;
}

#header_photographer {
  width: 80%;
  height: 320px;
  border-radius: 5px;
  background-color: #fafafa;
  margin: 10px auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "title button picture" "localisation . picture" "descripion . picture" "tags . picture";
}

@media screen and (max-width: 950px) {
  #header_photographer {
    background-color: initial;
    width: 100%;
    height: initial;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25px 20px 30px 30px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "title picture" "localisation picture" "descripion picture" "tags picture";
  }
}

#header_photographer .photographer_title {
  font-size: 50px;
  font-weight: 400;
  color: #d3573c;
  width: auto;
  grid-area: title;
}

@media screen and (max-width: 1160px) {
  #header_photographer .photographer_title {
    font-size: 32px;
  }
}

@media screen and (max-width: 950px) {
  #header_photographer .photographer_title {
    font-size: 30px;
    width: initial;
  }
}

@media screen and (max-width: 768px) {
  #header_photographer .photographer_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #header_photographer h1 {
    font-size: 12px;
  }
}

#header_photographer button {
  width: 170px;
  height: 70px;
  border: none;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: auto 0;
  grid-area: button;
  transition: all 0.5s;
}

@media screen and (max-width: 950px) {
  #header_photographer button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
  }
}

#header_photographer button:hover {
  cursor: pointer;
  background-color: #d3573c;
  color: #fafafa;
}

#header_photographer h2 {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  grid-area: localisation;
}

@media screen and (max-width: 768px) {
  #header_photographer h2 {
    font-size: 14px;
  }
}

#header_photographer p {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  grid-area: descripion;
}

@media screen and (max-width: 768px) {
  #header_photographer p {
    font-size: 12px;
  }
}

#header_photographer ul {
  justify-content: flex-start;
  margin-top: -10px;
  grid-area: tags;
}

@media screen and (max-width: 768px) {
  #header_photographer ul {
    margin-top: 10px;
  }
}

#header_photographer img {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: picture;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 3px rgba(50, 50, 0, 0.5));
}

#header_photographer img:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #header_photographer img {
    width: 100px;
    height: 100px;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  #header_photographer ul li {
    margin-right: 5px;
    border-radius: 50px;
    font-size: 10px;
    padding: 0 5px;
  }
}

#filter {
  margin-bottom: 50px;
  width: 80%;
  margin: 20px auto;
}

#filter label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}

#filter select {
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.5s;
}

#filter select:hover {
  cursor: pointer;
  background-color: #d3573c;
  color: #fafafa;
}

#wall {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#wall section {
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
}

@media screen and (max-width: 950px) {
  #wall section {
    height: initial;
  }
}

#wall section img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 30%;
}

@media screen and (max-width: 950px) {
  #wall section img {
    height: 160px;
  }
}

#wall section video {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 30%;
}

@media screen and (max-width: 950px) {
  #wall section video {
    height: 160px;
  }
}

#wall section .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

#wall section .content h3 {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-right: auto;
}

#wall section .content span {
  font-size: 24px;
  font-weight: 500;
  color: #901c1c;
  height: 100%;
}

#wall section .content em {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  font-size: 24px;
  color: #901c1c;
  margin-left: 15px;
  cursor: pointer;
}

#wall section .content em::before {
  margin-right: 10px;
}

#wall section .content em.liked {
  animation-duration: 0.5s;
  animation-name: heart;
  color: #db8876;
}

/* Block: CONTACT MODAL */
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  animation-name: modalopen;
  animation-duration: 0.5s;
}

#modal h2,
#modal h3 {
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  #modal h2,
  #modal h3 {
    font-size: 25px;
  }
}

#modal .close_modal {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 45px;
  color: white;
}

#modal .close_modal:hover {
  cursor: pointer;
}

#modal form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #modal form {
    width: 280px;
  }
}

#modal form .text-control {
  height: 60px;
}

#modal form label {
  font-size: 30px;
}

#modal form input,
#modal form textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

#modal form .btn-submit {
  margin-top: 10px;
  width: 170px;
  height: 70px;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

#modal form .btn-submit:hover {
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: scale(2, 2);
  }
  to {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

#media-nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 90px 0;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #db8876;
  justify-content: center;
  align-items: center;
}

#media-nav .close_modal_media {
  font-size: 64px;
  color: #901c1c;
  position: absolute;
  top: 200px;
  right: 130px;
}

@media screen and (max-width: 667px) {
  #media-nav .close_modal_media {
    top: 0px;
    right: 0px;
  }
  #media-nav .close_modal_media::before {
    font-size: 30px;
  }
}

#media-nav .close_modal_media:hover {
  cursor: pointer;
}

#media-nav .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#media-nav .carousel-inner > .item {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
}

#media-nav .carousel-inner > .item .container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  #media-nav .carousel-inner > .item .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #media-nav .carousel-inner > .item .container {
    width: 1170px;
  }
}

#media-nav .carousel-inner > .item .container img,
#media-nav .carousel-inner > .item .container video {
  padding: 10px 20px;
  margin: 30px 90px;
  max-height: 800px;
  max-width: 100%;
}

#media-nav .carousel-inner > .item .container .author {
  margin: 0;
  color: #901c1c;
  font-size: 24px;
}

#media-nav .carousel-inner > .active {
  display: block;
}

#media-nav .carousel-inner > .next {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

#media-nav .carousel-inner > .to-left {
  animation-name: left;
}

#media-nav .carousel-inner > .from-right {
  animation-name: right;
}

#media-nav .carousel-inner > .to-right {
  animation-name: right;
  animation-direction: reverse;
}

#media-nav .carousel-inner > .from-left {
  animation-name: left;
  animation-direction: reverse;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  cursor: pointer;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel-control > .arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
  background-size: 26px 20px;
  opacity: 0.6;
  transform: translateY(-50%);
}

.carousel-control > .arrow:hover {
  opacity: 0.8;
}

.carousel-control > .arrow.left {
  transform: translateY(-50%) rotate(180deg);
}

.carousel-control > .arrow.right {
  right: 50%;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 0 5px;
}

.carousel-indicators li.active {
  background-color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */