@keyframes modalopen {
    from {
        opacity: 0;
        transform: scale(2, 2);
    }
    to {
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}
