/* Block: HEADER */

header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 7.5%;
    flex-wrap: wrap;

    @media screen and (max-width: 950px) {
        margin: 10px;
    }

    #logo {
        display: flex;
        justify-content: center;
        margin-right: 75px;
        @media screen and (max-width: 950px) {
            margin: 0;
            justify-content: flex-start;
        }

        img {
            width: 300px;
            height: auto;
            object-fit: contain;

            @media screen and (max-width: 950px) {
                width: 160px;
            }
        }
    }

    nav {
        display: flex;
        justify-content: left;
        width: 1050px;
    }
}

@media screen and (max-width: 950px) {
    header {
        justify-content: space-between;
    }
}
