body {
    font-family: "DM Sans", sans-serif;

    a:link {
        text-decoration: none;
    }
}

#home-page {
    max-width: 100%;
    margin: 0 50px 100px 50px;

    @media screen and (max-width: 1024px) {
        margin: 0;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
        list-style: none;
        margin-right: 10px;
        border: 0.5px solid $border-color;
        border-radius: 50px;
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        transition: all 0.8s;
        color: $base-font;
        margin-bottom: 5px;

        a {
            color: $base-font;

            &:hover {
                color: white;
            }
        }

        &:hover {
            color: white;
            cursor: pointer;
            background-color: $base-font;
        }
    }

    .active {
        color: white;
        background-color: $base-font;
    }
}
