/* Page: Photographer */

//----Float Bottom Right Likes & More
#float-article {
    position: fixed;
    bottom: 0;
    right: 50px;

    background-color: $float;
    width: 400px;
    height: 75px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    @media screen and (max-width: 950px) {
        display: none;
    }

    #float-like {
        font-size: 24px;
        font-weight: 500;
    }

    #float-price {
        font-size: 24px;
        font-weight: 500;
    }
}

//-----Header Photographer, Name etc..
#header_photographer {
    width: 80%;
    height: 320px;
    border-radius: 5px;
    background-color: $container-color;
    margin: 10px auto;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title button picture"
        "localisation . picture"
        "descripion . picture"
        "tags . picture";

    @media screen and (max-width: 950px) {
        background-color: initial;
        width: 100%;
        height: initial;
        grid-template-columns: 60% 40%;
        grid-template-rows: 25px 20px 30px 30px;
        grid-auto-rows: minmax(min-content, max-content);
        grid-template-areas:
            "title picture"
            "localisation picture"
            "descripion picture"
            "tags picture";
    }

    .photographer_title {
        font-size: 50px;
        font-weight: 400;
        color: $h2-font;
        width: auto;

        grid-area: title;

        @media screen and (max-width: 1160px) {
            font-size: 32px;
        }

        @media screen and (max-width: 950px) {
            font-size: 30px;
            width: initial;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    h1 {
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }

    button {
        width: 170px;
        height: 70px;
        border: none;
        border-radius: 5px;
        background-color: $base-font;
        color: white;

        font-size: 20px;
        font-weight: 700;
        margin: auto 0;

        grid-area: button;

        transition: all 0.5s;

        @media screen and (max-width: 950px) {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 30px;
        }

        &:hover {
            cursor: pointer;
            background-color: $h2-font;
            color: $container-color;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: $base-font;

        grid-area: localisation;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: #525252;

        grid-area: descripion;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }

    ul {
        justify-content: flex-start;
        margin-top: -10px;
        grid-area: tags;

        @media screen and (max-width: 768px) {
            margin-top: 10px;
        }
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: picture;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
        filter: drop-shadow(0px 4px 3px rgba(50, 50, 0, 0.5));

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: 768px) {
            width: 100px;
            height: 100px;
            margin-left: auto;
        }
    }

    ul li {
        @media screen and (max-width: 768px) {
            margin-right: 5px;
            border-radius: 50px;
            font-size: 10px;
            padding: 0 5px;
        }
    }
}

//-----Filter
#filter {
    margin-bottom: 50px;
    width: 80%;
    margin: 20px auto;

    label {
        font-size: 18px;
        font-weight: 700;
        margin-right: 20px;
    }

    select {
        background-color: $base-font;
        color: white;
        font-size: 18px;
        font-weight: 700;

        padding: 15px;
        margin-right: 5px;
        border-radius: 5px;
        border: 1px solid black;
        transition: all 0.5s;

        &:hover {
            cursor: pointer;
            background-color: $h2-font;
            color: $container-color;
        }
    }
}

//-----Main Content
#wall {
    width: 80%;
    margin: 60px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    section {
        width: 400px;
        height: 400px;
        margin-bottom: 30px;

        @media screen and (max-width: 950px) {
            height: initial;
        }

        img {
            width: 100%;
            height: 350px;
            border-radius: 5px;
            object-fit: cover;
            object-position: 50% 30%;

            @media screen and (max-width: 950px) {
                height: 160px;
            }
        }

        video {
            width: 100%;
            height: 350px;
            border-radius: 5px;
            object-fit: cover;
            object-position: 50% 30%;

            @media screen and (max-width: 950px) {
                height: 160px;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 5px;

            h3 {
                font-size: 24px;
                font-weight: 400;
                color: $base-font;
                height: 100%;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-right: auto;
            }

            span {
                font-size: 24px;
                font-weight: 500;
                color: $base-font;
                height: 100%;
            }

            em {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 40px;
                font-size: 24px;
                color: $base-font;
                margin-left: 15px;
                cursor: pointer;

                &::before {
                    margin-right: 10px;
                }

                &.liked {
                    animation-duration: 0.5s;
                    animation-name: heart;
                    color: $float;
                }
            }
        }
    }
}
