:root {
	font-size: 14px;
}

/* ///////////////DESKTOP GRID///////////////// */
 main {
    display: grid;
    grid-template-areas: 
        "search search search" 
        "lodging lodging aside" 
        "activity activity activity" 
        "footer footer footer";
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
/* .//////////////////////////////////////////// */



/* ///////////////navbar / header///////////////// */
.nav {
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 70px;
    font-size: 18px;
    border-bottom: 0px solid var(--color-grey);
    justify-content: flex-end;
  }

.nav li:nth-child(n+2):nth-child(-n+3){
    flex: 0;
    margin-top: 0;
}

.isActive{
    border-bottom: 0px solid var(--color-blue);
    border-top: 3px solid var(--color-blue);
}


.nav li{
    padding-top: 40px;
    width: auto;
}

	/* LOGO */
	.nav li:first-child{ 
        order:0; 
        margin-right: auto;
	}

	/* SIGNIN */
	.nav li:last-child{ 
		order:4;
        margin: 0;
        width: auto;
	}

	/* LOGDING */
	.nav li:nth-child(2){ 
        order:2; 
        
	}

	/* ACTIVITY */
	.nav li:nth-child(3){ 
		order:3;
    }


/* .//////////////////////////////////////////// */


/* ///////////////search///////////////// */
.search_icon_btn{
    display: none;
}
.search_text_btn{

    display: contents;
}

.button_search {
    width: 130px;
    border-radius: 0 10px 10px 0;
}

.input_group input {
    width: 200px;
}

.filter h1{
    margin-top: 15px;
}

.search_icon {
	line-height: 50px;
	height: 50px;
	width: 50px;
}
/* .//////////////////////////////////////////// */


/* ///////////////Lodging///////////////// */
#lodging {
    padding: 20px 40px;
    grid-gap: 50px;
    background: #F2F2F2;
    border-radius: 20px;
}

.lodging_content {
    grid-template-columns: repeat(3, 1fr);
}

.thumbnail img {
    height: 150px;
}


.thumbnail_fav img {
	width: 200px;
	height: 150px;
}
/* .//////////////////////////////////////////// */


/* ///////////////fav///////////////// */
aside {
    border-radius: 25px;
}

aside h3{
    margin-left: 30px;
}

aside i {
	margin-right: 30px;
}

.card_container {
	margin: 0 30px;
}
/* .//////////////////////////////////////////// */


/* ///////////////Activity///////////////// */
.activity_card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "act_1 act_2 act_4 act_5" 
                         "act_1 act_2 act_4 act_6" 
                         "act_1 act_3 act_4 act_6";
}

.activity_card .act_1{ height: 550px; }
.activity_card .act_2{ height: 300px; }
.activity_card .act_3{ height: 220px; }
.activity_card .act_4{ height: 550px; }
.activity_card .act_5{ height: 270px; }
.activity_card .act_6{ height: 250px; }

.act_1 img {height: 500px;}
.act_2 img {height: 250px;}
.act_3 img {height: 170px;}
.act_4 img {height: 500px;}
.act_5 img {height: 220px;}
.act_6 img {height: 200px;} 
/* .//////////////////////////////////////////// */


/* ///////////////footer///////////////// */
footer {
	grid-template-columns: repeat(3, 1fr);
}
/* .//////////////////////////////////////////// */