:root {
	font-size: 15px;
	--color-blue: #0065FC;
	--color-lightblue: #DEEBFF;
	--color-grey: #F2F2F2;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-VariableFont_wght.ttf") format("tff");
}

body {
	font-family: "Raleway", Times, serif;
	box-sizing: border-box;
}


/* ///////////////MAIN GRID///////////////// */
main {
    display: grid;
    grid-template-areas: 
		"search" 
		"aside" 
        "lodging" 
        "activity" 
        "footer";
    column-gap: 20px;
    row-gap: 20px;
}
/* .//////////////////////////////////////////// */



/*//////////////navbar / header ///////////////// */
	.nav {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		align-content: start;
		font-size: 15px;
		border-bottom: 4px solid var(--color-grey);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav li{
		  width: 50%;
	}

	/* LOGO */
	.nav li:first-child{ 
		order:1; 
	}

	/* SIGNIN */
	.nav li:last-child{ 
		order:2;
		margin-top: 15px;
	}

	/* LOGDING */
	.nav li:nth-child(2){ 
		order:3; 
	}

	/* ACTIVITY */
	.nav li:nth-child(3){ 
		order:4;
	}


	/* LOGDING + ACTIVITY MENU */
	.nav li:nth-child(n+2):nth-child(-n+3){
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: -3px;
		margin-top: 10px;
	}

	header a.active {
		color: var(--color-blue);
	}

	.isActive{
		border-bottom: 3px solid var(--color-blue);
		color: var(--color-blue);
	}

	
.reservia_logo {
	height: 40px;
	margin-left: 10px;
}

.button_signin{
	font-weight: bold;
	color:var(--color-blue);
	float: right;
	margin-right: 10px;
}

header a {
	color: black;
	text-decoration: none;
	padding-bottom: 15px;
}

nav a:hover {
	color: var(--color-blue);
}
/* .//////////////////////////////////////////// */





/*////////////// search //////////////// */


/* Search AREA */
.search {
	grid-area: search;
	margin : 20px 10px 0 10px;
}

.input_group {
	display: flex;
	margin: 30px 0 20px 0;
}

.search_icon {
	background: #eee;
	color: black;
	border-radius: 10px 0 0 10px;
	line-height: 45px;
	height: 45px;
	text-align: center;
	width: 45px;
}

	.input_group input {
		border: 0;
		border-top: 1px solid var(--color-grey);
		border-bottom: 1px solid var(--color-grey);
		color: black;
		width: calc(100vw - 110px);
		padding-left: 10px;
	}

.input_group input::placeholder{
	color: black;
	font-weight: bold;
}

	.button_search {
		width: 45px;
		border: 1px solid var(--color-blue);
		background: var(--color-blue);
		text-align: center;
		color: #fff;
		border-radius: 10px;
		cursor: pointer;
	}

	.button_search:hover{
		background: var(--color-lightblue);
	}
	
	.search_text_btn{
		display: none;
	}
/* ------- */



/* Filter */
.filter {
	display: flex;
	flex-wrap: wrap;
	column-gap: 35px;
}

.filter h4 {
	text-align: center;
	padding: 15px;
}


.isometric {
    font-size: 20px;
    font-weight: bold;
    border-radius: 45px;
    border: solid 2px var(--color-grey);
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.isometric i{
    display: inline-block;
    width: 45px;
    height: 45px;
    color: var(--color-blue);
    border-radius: 50%;
    margin: -1px;
    line-height: 46px;
    font-size: 17px;
    background:  var(--color-lightblue);
    line-height: 45px;
}

.isometric span{
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
}

.isometric:hover{
	background: var(--color-grey);
}

.isometric:hover .isometric:hover{
    border-bottom: none;
}
/* ------- */

.info_ico{
	border: solid 2px var(--color-grey);
	color: var(--color-blue);
    border-radius: 50%;
	padding: 10px;
	width: 40px;
	height: 40px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
}
/* .//////////////////////////////////////////// */



/* ///////////////FAV////////////////// */
aside {
	grid-area: aside;
	padding: 20px 10px;
	background: #F2F2F2;
}

aside h2{
	font-size: 17px;
}

aside i {
	margin-top: 7px;
	float : right;
}

.aside_content {
	display: flex;
	flex-direction: column;
	column-gap: 35px;
	row-gap: 30px;
	width: 100%;
	margin-top: 20px;
}

.card_container {
	display: flex;
	background-color: white;
	padding: 5px 5px;
}

.card_fav {
	color: black;
	padding: 10px;
	position: relative;
	width: 70%;
}

.aside_content h3{
	margin:0;
}

.rating_bot{
	position: absolute;
	bottom: 10px;
}



.thumbnail_fav img {
	border-radius: 20px 0px 0px 20px;
	width: 150px;
	height: 150px;
	object-fit: cover;

}

.activity_card a {
	text-decoration: none;
	color: #000000;
}
/* .//////////////////////////////////////////// */



/* ///////////////Lodging////////////////// */

#lodging { 
	margin : 0px 5px 0 5px;
	grid-area: lodging;
    grid-gap: 50px;
    border-radius: 20px;
}

#lodging h3{
	font-size: 17px;
}

.lodging_content {
    display: grid;
    column-gap: 35px;
    row-gap: 30px;
	width: 100%;
	margin : 30px 0 30px 0;
}


.card {
background-color: #fff;
border-radius: 15px 15px 15px 15px;
padding: 5px 5px;
}

.card h3,
.card p,
.card span::before,
.card span::after {
padding-left: 10px;
}

.thumbnail img {
border-radius: 20px 20px 0px 0px;
width: 100%;
height: 160px;
object-fit: cover;
}

#lodging a {
text-decoration: none;
color: black;
}

#lodging a:hover {
color: var(--color-blue);
}

.button_more {
font-weight: bold;
}
/* .//////////////////////////////////////////// */



/* ///////////////Activity////////////////// */
#activity {
	grid-area: activity;
}

#activity h2{
	margin-left: 5px;
}

#activity h3{
	font-size: 17px;
	padding: 11px;
}
.activity_card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "act_1" "act_2" "act_3" "act_4" "act_5" "act_6";
	row-gap: 30px;
	margin : 20px 10px 0 10px;
}

.activity_card a{
	display: flex;
	flex-direction: column;
	height: 230px;
}


.activity_card img {height: 170px;}

.act_1 {grid-area: act_1;}
.act_2 {grid-area: act_2;}
.act_3 {grid-area: act_3;}
.act_4 {grid-area: act_4;}
.act_5 {grid-area: act_5;}
.act_6 {grid-area: act_6;}

.thumbnail_activity img {
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
	width: 100%;
}


/* ///////////////FOOTER////////////////// */

footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr;
	background: #F2F2F2;
	padding: 10px 10px 10px 20px;
}

footer a {
	text-decoration: none;
	color: black;
}

footer a:hover {
	color: var(--color-blue);
}


footer ul {
	list-style: none;
}


footer h1{
	font-size: 17px;
}
/* ////////////////////////////////////// */


/* ////////////OTHER STYLES////////////// */

/* Score stars */


.fa-star{
	color: #ccc;
	width: 12px;
}

.checked{
	color: var(--color-blue);
}


/* //////////// */

.shadowbox {
	-moz-box-shadow: 1px 1px 10px 0px #cecece;
	-webkit-box-shadow: 1px 1px 10px 0px #cecece;
	-o-box-shadow: 1px 1px 10px 0px #cecece;
	box-shadow: 1px 1px 10px 0px #cecece;
	border-radius: 25px 25px 25px 25px;
}
/* ////////////////////////////////////// */